In [3]:
import pandas as pd
import hillmaker as hm

In [4]:
from hillmaker import bydatetime

In [8]:
help(bydatetime.make_bydatetime)

Help on function make_bydatetime in module hillmaker.bydatetime:

make_bydatetime(stops_df, infield, outfield, start_analysis, end_analysis, catfield=None, bin_size_minutes=60, cat_to_exclude=None, totals=1, occ_weight_field=None, edge_bins=1, verbose=0)
    Create bydatetime table based on user inputs.

    This is the table from which summary statistics can be computed.

    Parameters
    ----------
    stops_df: DataFrame
        Stop data

    infield: string
        Name of column in stops_df to use as arrival datetime

    outfield: string
        Name of column in stops_df to use as departure datetime

    start_analysis: datetime
        Start date for the analysis

    end_analysis: datetime
        End date for the analysis

    catfield : string or List of strings, optional
        Column name(s) corresponding to the categories. If none is specified, then only overall occupancy is analyzed.

    bin_size_minutes: int, default 60
        Bin size in minutes. Should divide evenly into 1440.

    cat_to_exclude: list of strings, default None
        Categories to ignore

    edge_bins: int, default 1
        Occupancy contribution method for arrival and departure bins. 1=fractional, 2=whole bin

    totals: int, default 1
        0=no totals, 1=totals by datetime, 2=totals bydatetime as well as totals for each field in the
        catfields (only relevant for > 1 category field)

    occ_weight_field : string, optional (default=1.0)
        Column name corresponding to the weights to use for occupancy incrementing.

    verbose : int, default 0
        The verbosity level. The default, zero, means silent mode.

    Returns
    -------
    Dict of DataFrames
       Occupancy, arrivals, departures by category by datetime bin

    Examples
    --------
    bydt_dfs = make_bydatetime(stops_df, 'InTime', 'OutTime',
    ...                        datetime(2014, 3, 1), datetime(2014, 6, 30), 'PatientType', 60)

    bydt_dfs = make_bydatetime(stops_df, 'InTime', 'OutTime',
    ...           datetime(2014, 3, 1), datetime(2014, 6, 30), ['PatientType','Severity'], 60, totals=2)


    TODO
    ----


    Notes
    -----


    References
    ----------


    See Also
    --------

In [5]:
stops_df = pd.read_csv("rectypes.csv", parse_dates=['InRoomTS','OutRoomTS'], comment="#")

In [6]:
stops_df.tail(4)

,PatID,InRoomTS,OutRoomTS,PatType
16,17,1996-01-01 06:10:00,1996-01-01 08:00:00,inner_mbins_boundary
17,18,1996-01-01 07:00:00,1996-01-01 09:00:00,inner_mbins_boundary
18,19,1996-01-01 23:50:00,1996-01-02 01:30:00,inner_mbins_boundary_overmid
19,20,1996-01-02 23:30:00,1996-01-03 01:30:00,inner_mbins_boundary_overmid

In [13]:
bydt_dfs = bydatetime.make_bydatetime(stops_df, 'InRoomTS', 'OutRoomTS', '1/1/1996', '1/3/1996 23:30', 
                                     'PatType', 30)

In [14]:
bydt_dfs.keys()

dict_keys(['PatType_datetime', 'datetime'])

In [15]:
df1 = bydt_dfs['PatType_datetime']

In [17]:
df1[(df1.PatType=='inner_twobins') & (df1.bin_of_week > 30)]

AttributeError: 'DataFrame' object has no attribute 'PatType'

In [ ]:
bydt_df[bydt_df.category.str.contains('inner_mbins_boundary') & (bydt_df.bin_of_week > 10)]

In [18]:
df1

                                          arrivals  departures  occupancy  \
PatType              datetime
inner_mbins_boundary 1996-01-01 00:00:00       0.0         0.0        0.0
                     1996-01-01 00:30:00       0.0         0.0        0.0
                     1996-01-01 01:00:00       0.0         0.0        0.0
                     1996-01-01 01:30:00       0.0         0.0        0.0
                     1996-01-01 02:00:00       0.0         0.0        0.0
...                                            ...         ...        ...
right_mbins_frac     1996-01-03 21:30:00       0.0         0.0        1.0
                     1996-01-03 22:00:00       0.0         0.0        1.0
                     1996-01-03 22:30:00       0.0         0.0        1.0
                     1996-01-03 23:00:00       0.0         0.0        1.0
                     1996-01-03 23:30:00       0.0         0.0        1.0

                                          day_of_week   dow_name  bin_of_day  \
PatType              datetime
inner_mbins_boundary 1996-01-01 00:00:00            0     Monday           0
                     1996-01-01 00:30:00            0     Monday           1
                     1996-01-01 01:00:00            0     Monday           2
                     1996-01-01 01:30:00            0     Monday           3
                     1996-01-01 02:00:00            0     Monday           4
...                                               ...        ...         ...
right_mbins_frac     1996-01-03 21:30:00            2  Wednesday          43
                     1996-01-03 22:00:00            2  Wednesday          44
                     1996-01-03 22:30:00            2  Wednesday          45
                     1996-01-03 23:00:00            2  Wednesday          46
                     1996-01-03 23:30:00            2  Wednesday          47

                                          bin_of_week
PatType              datetime
inner_mbins_boundary 1996-01-01 00:00:00            0
                     1996-01-01 00:30:00            1
                     1996-01-01 01:00:00            2
                     1996-01-01 01:30:00            3
                     1996-01-01 02:00:00            4
...                                               ...
right_mbins_frac     1996-01-03 21:30:00          139
                     1996-01-03 22:00:00          140
                     1996-01-03 22:30:00          141
                     1996-01-03 23:00:00          142
                     1996-01-03 23:30:00          143

[1584 rows x 7 columns]